@import '../../variables.css';


.title{
    background-color: var(--color_red);
    border-radius: 30px;
    font-family: var(--font_two);
    font-size:10px;
    margin-top: 18px;
    border: solid 3px var(--color_white);
}

.title h1 {
    margin: 0 10px;
}

.title  .span_one {
    color: var(--color_white);
}
.title  .span_two {
    font-size: 25px;
}
